[Unit]
Description=Personal Portfolio Django API (Gunicorn)
After=network.target mysql.service

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/sitecankartal/sitecankartal/backend
EnvironmentFile=/home/ubuntu/sitecankartal/sitecankartal/backend/.env
Environment="DJANGO_SETTINGS_MODULE=portfolio.settings.prod"
ExecStart=/home/ubuntu/sitecankartal/sitecankartal/backend/venv/bin/python /home/ubuntu/sitecankartal/sitecankartal/backend/run_gunicorn.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
